@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "custom";
    src: url("../public/fonts/font.ttf");
  }

  html {
    @apply font-[custom]
  }

  h3 {
    @apply text-[32px] leading-[39px] tracking-wide
  }

  h5 {
    @apply text-[24px] leading-[30px] font-normal tracking-wide
  }

  h6 {
    @apply text-[20px] leading-[25px] tracking-wide
  }

  p {
    @apply font-[400] leading-[20px] tracking-wide
  }

}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #000000; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}